# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [2]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [6]:
# your code here
orders = pd.read_csv("Orders.zip")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [10]:
# your code here
#1)
orders_agg = orders.groupby(["CustomerID"]).agg({"amount_spent":"sum"})
orders_agg

            amount_spent
CustomerID
12346           77183.60
12347            4310.00
12348            1797.24
12349            1757.55
12350             334.40
...                  ...
18280             180.60
18281              80.82
18282             178.05
18283            2094.88
18287            1837.28

[4339 rows x 1 columns]

In [17]:
#2)
bins = pd.qcut(orders_agg["amount_spent"],[0.75,0.95,1])
bins.value_counts()

(1661.6390000000001, 5840.182]    868
(5840.182, 280206.02]             217
Name: amount_spent, dtype: int64

In [26]:
#3)
labels = ["Preferred", "VIP"]
bins = pd.qcut(orders_agg["amount_spent"],[0.75,0.95,1],labels=labels)
bins

CustomerID
12346          VIP
12347    Preferred
12348    Preferred
12349    Preferred
12350          NaN
           ...
18280          NaN
18281          NaN
18282          NaN
18283    Preferred
18287    Preferred
Name: amount_spent, Length: 4339, dtype: category
Categories (2, object): ['Preferred' < 'VIP']

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [27]:
# your code here
orders["bins"] = bins

vip = orders[orders["bins"]=="VIP"]

vip_final = vip.groupby(["Country"]).agg({"bins":"count"})

vip_final.sort_values(by="bins", ascending=False)

                bins
Country
United Kingdom   191
France             6
Germany            6
Norway             6
EIRE               3
Portugal           2
Spain              2
Japan              1

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [28]:
# your code here
orders = orders.groupby(["Country"]).agg({"bins":"count"})

orders.sort_values(by="bins", ascending=False)

                      bins
Country
United Kingdom         971
Norway                  24
Germany                 22
France                  19
Spain                   15
EIRE                    12
Denmark                  8
Japan                    6
Portugal                 6
Channel Islands          2
Poland                   0
RSA                      0
Australia                0
Saudi Arabia             0
Singapore                0
Malta                    0
Sweden                   0
Switzerland              0
USA                      0
United Arab Emirates     0
Netherlands              0
Italy                    0
Lithuania                0
Lebanon                  0
Austria                  0
Israel                   0
Iceland                  0
Greece                   0
Finland                  0
European Community       0
Czech Republic           0
Cyprus                   0
Canada                   0
Brazil                   0
Belgium                  0
Bahrain                  0
Unspecified              0